<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cluster Depression</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="bg-primary">
    <div class="container p-0">
      <div class="row landing">
        <div class="col-12 p-0 mb-3">
          <div class="card mt-3 mx-4">
            <h2 class="text-center py-3 font-weight-bold">
              Selamat Datang Di Aplikasi Cluster Depresi
            </h2>
          </div>
          <!-- Card with Pie Chart -->
          <div class="card mt-3 mx-4">
            <div class="row m-0">
              <div class="col-6">
                <div class="row">
                  <div class="col-3 ml-4">
                    <img
                      src="https://download.logo.wine/logo/Reddit/Reddit-Logo.wine.png"
                      alt="Reddit Logo"
                      class="img-fluid"
                      alt="Reddit Logo"
                    />
                  </div>
                  <div class="col-9">
                    <h4 class="mx-4 pt-2 mt-4">Depresi Clustering</h4>
                  </div>
                </div>
                <ul class="list-group mx-4">
                  <li class="list-group-item active">
                    <label> Silakan Pilih Filter </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <input type="radio" name="options" /> Sehari Terakhir
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <input type="radio" name="options" /> Seminggu Terakhir
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <input type="radio" name="options" /> Sebulan Terakhir
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label>
                      <input type="radio" name="options" /> Setahun Terakhir
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label> <input type="radio" name="options" /> Semua </label>
                  </li>
                </ul>

                <button type="button" class="mx-4 mt-2 btn btn-primary px-4">
                  Mulai
                </button>
              </div>
              <div class="col-6">
                <h4 class="text-center mt-4">Analisis Terakhir</h4>
                <div class="d-flex justify-content-end">
                  <div class="card-body w-25">
                    <canvas id="pieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Table with Pagination -->
          <div class="card mt-3 mx-4">
            <h3 class="mt-3 mx-4">Riwayat Terakhir</h3>
            <div class="table-responsive mt-4 mx-4">
              <table class="table table-striped">
                <!-- Table Header -->
                <thead>
                  <tr class="text-center">
                    <th>Tanggal</th>
                    <th>Data Filter</th>
                    <th>Topik Cluster</th>
                    <!-- Add more columns as needed -->
                  </tr>
                </thead>

                <tbody class="text-center">
                  {% for item in data %}
                  <tr>
                    <td>{{ item.tanggal}}</td>
                    <td>{{ item.data }}</td>
                    <td>
                      <ul style="list-style: none">
                        {% for topic_list in item.topik if item.topik %}
                        <li>
                          Cluster {{ loop.index }}: {{ ', '.join(topic_list) }}
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Sample data for the pie chart
        var pieData = {
          labels: [
            "like, feel, year, day, anxiety, people, want, help, thought",
            "people, like, feel, life, want, know, thing, would, suicide, im",
            "people, get, even, depression, year, friend, time, life, help, anxiety",
            "lainnya",
          ],
          datasets: [
            {
              data: [22, 40, 30, 18],
              backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#FA5E16"],
            },
          ],
        };

        // Get the canvas element
        var pieCanvas = document.getElementById("pieChart");

        // Initialize the pie chart
        var pieChart = new Chart(pieCanvas, {
          type: "pie",
          data: pieData,
          options: {
            legend: {
              display: false, // Hide the legend
            },
            plugins: {
              labels: {
                render: "label", // Show the label value
                arc: true,
                position: "right", // Set the position of the labels to outside the pie chart
              },
            },
            maintainAspectRatio: false, // Do not maintain the aspect ratio
            width: 400, // Set the width of the chart
            height: 400, // Set the height of the chart
          },
        });
      });
    </script>
  </body>
</html>
